# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Packaging / Build
# =========================
build/
dist/
*.egg-info/
.eggs/
wheels/

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm / JetBrains
.idea/

# =========================
# Shell scripts
# =========================
*.swp
*.swo

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment variables
# =========================
.env
.env.*
